@charset "utf-8";
html body{
	font-family:"Spoqa Han Sans", "맑은 고딕", "Malgun Gothic", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", 나눔고딕, NanumGothic, Dotum, 돋움, Helvetica, sans-serif;
}
.event-wrap {
	overflow: hidden;
	position: relative;
	background: #f9f9f9;

	> img {
		position: relative;
		left: 50%;
		margin-left: -952px;
	}
}
