@charset 'utf-8';

#header {
    // v4,v5 중복 스타일 임시 처리
    border-bottom: 0;
}

.estimate-body {
    .ntkBtn {
        width: 78px;
        margin-bottom: 5px;
        border: 0;
    }
    padding-bottom: 100px;
    line-height: 1;
    overflow: hidden;

    @include default_width;

    .estimate-body_top {
        position: relative;
        // height: 50px;
        padding-top: 40px;

        @include clear;

        .tit-h2 {
            float: left;
            font-size: 30px;
            color: #000000;
        }
    }

    .estimate-body-move {
        text-align: right;
        margin-bottom: 10px;

        &.left {
            text-align: left;
            margin: -35px 0 0;
        }

        a {
            display: inline-block;
            border: 1px solid #dcdcdc;
            padding: 10px;
            color: #666666;
        }
    }

    .estimate-body-ad-top {
        background: #c1c1f9;
        font-size: 0;
        overflow: hidden;

        .left {
            display: inline-block;
            width: 950px;
            overflow: hidden;
        }

        .right {
            display: inline-block;
            width: 240px;
            overflow: hidden;
        }
    }

    .estimate-body_menu {
        font-size: 0;
        margin-top: 30px;

        [class^='btn-estimate-body_'] {
            font-size: 20px;
            font-weight: bold;
            @include btn(50%, 60px, 2px solid #d1d0d5, $base_color2, #f4f4f4, null, 56px);
            @include box-sizing();

            &.active {
                border-bottom: 0;
                background: #ffffff;
            }

            i {
                &:before {
                    position: relative;
                    top: 3px;
                    font-size: 24px;
                }
            }
        }

        .btn-estimate-body_nor {
            border-right-width: 0;
            border-bottom-color: #0f4f9f;

            &.active {
                border-color: #9933cc;
                border-right-width: 2px;
                color: #9933cc;
            }
        }

        .btn-estimate-body_card {
            border-left-width: 0;
            border-bottom-color: #9933cc;

            &.active {
                border-color: #0f4f9f;
                border-left-width: 2px;
                color: #0f4f9f;
            }
        }
    }

    .estimate-body_minishop {
        margin-top: 46px;

        .estimate-body_minishop_nor {
            border-top: 2px solid $base_color1;
            @include clear;
        }

        .estimate_compare {
            float: left;
            width: 720px;
            border-right: 2px solid #39567b;

            .estimate_compare_list {
                .estimate_compare_list_top {
                    border-bottom: 1px solid $base_color1;
                    @include clear;

                    span {
                        display: block;
                        float: left;
                        height: 89.5px;
                        font-weight: bold;
                        line-height: 89.5px;
                        text-align: center;

                        &.tit1 {
                            width: 120px;
                        }

                        &.tit2 {
                            width: calc(100% - 120px - 77px - 140px);
                        }

                        &.tit3 {
                            width: 77px;
                        }

                        &.tit4 {
                            width: 140px;
                        }
                    }
                }

                .estimate_compare_list_body {
                    li {
                        height: 50px;
                        border-bottom: 1px solid #e8e7ea;
                        @include clear;

                        .category {
                            float: left;
                            width: 120px;
                            height: 49px;
                            font-size: 14px;
                            color: $point_color1;
                            font-weight: bold;
                            letter-spacing: 0;
                            line-height: 49px;
                            text-align: center;
                            @include truncate();
                        }

                        .productname {
                            float: left;
                            width: calc(100% - 120px - 77px - 140px);
                            height: 50px;
                            padding: 16px 0;
                            font-size: 0;
                            text-align: left;
                            line-height: 30px;
                            @include clear;
                            @include box-sizing();

                            [class^='mark-'] {
                                float: left;
                                margin-right: 3px;
                            }

                            .name {
                                display: block;
                                height: 18px;
                                font-size: 14px;
                                line-height: 18px;
                                @include truncate();
                            }
                        }

                        .cnt-change {
                            float: left;
                            width: 77px;
                            height: 30px;
                            padding: 10px 0;

                            .cnt-change_number {
                                margin: 0 auto;
                            }
                        }

                        .compare_price {
                            float: left;
                            display: block;
                            width: 90px;
                            height: 50px;
                            font-size: 14px;
                            color: $base_color2;
                            letter-spacing: 0;
                            text-align: right;
                            line-height: 50px;

                            span {
                                color: #f34522;
                            }
                        }

                        .del {
                            float: left;
                            width: 50px;
                            height: 30px;
                            padding: 10px 0;
                            text-align: center;

                            .btn-compare-del {
                                @include btn(30px, 30px, 1px solid #e5e5e5, null, #ffffff);

                                img {
                                    vertical-align: 0;
                                }

                                &:hover {
                                    background: #f2f2f2;
                                }
                            }
                        }

                        &:last-child {
                            border-bottom: 0;
                        }
                    }
                }
            }

            .policy {
                padding-right: 10px;
                text-align: right;
            }

            .total_price {
                padding-right: 10px;
                font-size: 18px;
                text-align: right;
                line-height: 128px;

                span {
                    margin-left: 15px;
                    font-size: 28px;
                    color: $point_color2;
                    letter-spacing: 0;
                }
            }
        }

        .estimate-curation-area {
            display: none;
            border-top: 2px solid #333333;
            height: 280px;
            position: relative;

            &.first > div {
                position: absolute;
                width: 1190px;
                background: #ffffff;
                height: 280px;
                z-index: 1;
            }
        }

        .policy {
            border-top: 2px solid $point_color1;
            padding: 15px 0;

            li {
                height: 20px;
                font-size: 11px;
                color: $base_color2;
                line-height: 20px;

                span {
                    color: #ff0000;
                    letter-spacing: 0;
                }

                em {
                    color: $point_color1;
                    letter-spacing: 0;
                }

                .btn_delivery_info {
                    @include btn(null, 20px, 0, $base_color2, transparent);
                    vertical-align: top;

                    &:hover {
                        border-bottom: $point_color1 1px solid;
                        color: $point_color1;
                        padding-top: 1px;
                    }
                }

                .btn_free-delivery {
                    font-size: 11px;
                    @include btn(48px, 20px, 1px solid #ff6600, #ff6600, #ffffff);
                    vertical-align: top;
                }
            }
        }

        .total_price {
            height: 130px;
            border-top: 2px solid $point_color1;
            border-bottom: 2px solid $point_color1;
            background: #ecf3fd;
        }

        .estimate_minishop {
            float: right;
            width: calc(100% - 722px);

            .estimate_minishop_seller_list {
                @include clear;
                > .echo_mall.border_left {
                    border-left: 0!important
                }
            }

            .estimate_minishop_seller {
                border-right: 1px solid #747475;

                .tit-h4 {
                    position: relative;
                    font-size: 14px;
                    color: #ffffff;
                    line-height: 34px;
                    text-align: center;
                }

                float: left;

                &.echo {
                    width: 84px;

                    .tit-h4 {
                        span {
                            position: absolute;
                            top: -36px;
                            left: -2px;
                            width: calc(100% - 1px);
                            height: 32px;
                            background: #39567b;
                            border: 2px solid #39567b;
                            border-bottom: 0;
                            font-size: 12px;
                            border-right: 1px solid #39567b;

                            img {
                                margin-left: 1px;
                                margin-bottom: 3px;
                            }

                            button {
                                border: 0;
                                background: inherit;
                            }
                        }

                        .tooltip {
                            // opacity: 1;
                            background: #ffffff;
                            border: 1px solid #000000;
                            top: -3px;
                            left: -13px;
                            height: 15px;
                            width: 86px;

                            &.on {
                                opacity: 1;
                                width: 84px;
                            }

                            &::after {
                                left: 76px;
                            }

                            &::before {
                                display: none;
                            }
                        }

                    }

                    &.empty {
                        position: relative;

                        .echo_empty {
                            position: absolute;
                            background: #224160;
                            width: 100%;
                            z-index: 1;
                            height: 100%;
                            overflow: hidden;

                            img {
                                position: absolute;
                                bottom: 0;
                            }
                        }

                        .total_price {
                            height: 149px;
                        }
                    }
                    .sellername {
                        color: #9162d0!important;
                    }

                    .total_price {
                        color: #9162d0!important;

                        .btn-buy {
                            background: #9162d0!important;
                        }
                    }
                }
                &.echo2 {
                    width: 171px;
                    .tit-h4 {
                        .tooltip {
                            left: 30px;
                        }
                    }
                    &.empty {
                        .tit-h4 {
                            &:before {
                                content: '　';
                            }
                        }
                    }
                    .total_price {
                        height: 115px!important;
                    }
                }
                &.echo_mall {
                    border-right: 2px solid #39567b;
                    border-left: 0;

                    .tit-h4 {
                        .tooltip {
                            left: 30px;
                        }
                        span {
                            left: -2px;
                            top: -36px;
                            width: calc(200% + 2px);
                            height: 33px;
                        }
                        button {
                            vertical-align: middle;
                        }
                    }
                }
                &.echo_mall.border_left {
                    border-left: 2px solid #39567b;
                }

                .tit-h4 {
                    background: #9162d0;
                }


                // 뉴셀러 삭제 191008
                // &.newseller {
                //     float: left;
                //     width: 85px;

                //     .tit-h4 {
                //         background: #f2745f;
                //     }

                //     .sellername {
                //         color: #f2745f;
                //     }

                //     .total_price {
                //         color: #f2745f;

                //         .btn-buy {
                //             background: #f2745f;
                //         }
                //     }
                // }

                .estimate_minishop_seller_head {
                    height: 56px;
                    border-bottom: 1px solid $base_color1;
                    font-size: 0;
                    text-align: center;

                    .sellername {
                        display: block;
                        height: 29px;
                        padding: 10px 3px 0;
                        font-size: 14px;
                        color:#333;
                        @include box-sizing;
                        @include truncate(100%);
                    }

                    a {
                        display: inline-block;
                        font-size: 11px;
                        @include btn(65px, 20px, 1px solid #d3d3d3, $base_color2, #ffffff, center, 18px);

                        &.btn-minishop {
                            margin-right: 2px;
                        }
                    }
                }

                .estimate_minishop_seller_body {
                    li {
                        position: relative;
                        height: 50px;
                        padding-right: 10px;
                        border-bottom: 1px solid #e8e7ea;
                        font-weight: bold;
                        line-height: 48px;
                        text-align: right;
                        letter-spacing: 0;

                        .soldout {
                            position: absolute;
                            left: 0;
                            top: 0;
                            display: block;
                            width: 100%;
                            height: 100%;
                            font-size: 13px;
                            color: #ffffff;
                            background: rgba(0, 0, 0, .5);
                            text-align: center;
                        }

                        &.hotdeal {
                            background: #fcebfe;
                        }

                        &.lowprice {
                            color: #ff0000;
                        }

                        &:last-child {
                            border-bottom: 0;
                        }
                    }
                }

                .policy {
                    text-align: center;
                }

                .total_price {
                    height: 115px;
                    padding-top: 15px;
                    text-align: center;

                    strong {
                        display: block;
                        margin-bottom: 10px;
                        font-size: 14px;
                        letter-spacing: 0;
                    }

                    .btn-buy {
                        font-size: 14px;
                        font-weight: bold;
                        margin-bottom: 5px;
                        @include btn(78px, 32px, 0, #ffffff);
                    }

                    .ico-cash-receipt {
                        color: $base_color2;
                        width: 68px;
                        height: 21px;
                        font-size: 11px;
                        text-align: center;
                        background: url('//cdnimg.happyshopping.kr/img_static/img_pres/_v3/sprite_1.png') no-repeat 0 -1369px;
                        display: inline-block;
                        padding-top: 6px;
                        box-sizing: border-box;

                        &:hover {
                            color: $point_color1;
                            background-position: 0 -1346px;
                            cursor: pointer;
                        }
                    }
                }

                &.greatseller {
                    width: calc(100% - 173px);

                    .tit-h4 {
                        background: #4576d1;
                    }
                    .echo {
                        .tit-h4 {
                            background: #9162d0;
                        }
                    }

                    .estimate_minishop_greatseller_cell {
                        margin: 34px 0 0;
                    }

                    .estimate_minishop_greatseller_list {
                        position: relative;
                        padding: 36px 0 0;
                        margin: -36px 0 0;

                        .slick-list {
                            padding: 36px 0 0px;
                            margin: -70px 0 0;
                            width: calc(100% + 1px);
                        }

                        .scroll {
                            @include clear;
                            .border_left {
                                margin-left: -1px!important;
                            }
                        }

                        .btn_scroll_next,
                        .btn_scroll_first {
                            position: absolute;
                            top: 50%;
                            right: 0;
                            opacity: .5;
                            margin-top: -22px;
                            font-size: 32px;
                            @include btn(40px, 80px, 0, #fff, #000);
                        }

                        .estimate_minishop_greatseller_cell {
                            float: left;
                            width: 85px;
                            border-right: 1px solid #747475;
                        }

                        .estimate_minishop_greatseller_empty {
                            position: relative;
                            float: left;
                            width: 85px;
                            border-right: 1px solid #747475;

                            .estimate_minishop_seller_head {
                                border-bottom-color: transparent;
                            }

                            .estimate_minishop_seller_body {
                                li {
                                    border-bottom-color: transparent;
                                }
                            }

                            .policy {
                                border-top-color: transparent;
                            }

                            .total_price {
                                border-top-color: transparent;
                                background: #ffffff;
                            }

                            .btn_scroll_first {
                                left: 10px;
                                right: auto;
                            }
                        }
                    }

                    .total_price {
                        color: #4576d1;

                        .lowest {
                            color: #ff0000;
                        }

                        .btn-buy {
                            background: #4576d1;
                        }
                    }
                }
            }

            .estimate_minishop_paging {
                margin-top: 15px;
                @include clear;

                .box {
                    float: right;
                    @include clear;
                }

                .estimate_minishop_paging_cnt {
                    position: relative;
                    float: left;
                    width: 251px;
                    height: 40px;
                    background: #eeedef;

                    .paging_cnt {
                        display: block;
                        font-size: 18px;
                        line-height: 40px;
                        text-align: center;
                        letter-spacing: 0;
                        font-weight: bold;

                        strong {
                            color: $point_color1;
                        }
                    }

                    .btn-prev,
                    .btn-next {
                        position: absolute;
                        top: 0;
                        font-size: 22px;
                        line-height: 32px;
                        @include btn(40px, 40px, 4px solid $point_color1, $point_color1, #ffffff);
                    }

                    .btn-prev {
                        left: 0;
                    }

                    .btn-next {
                        right: 0;
                    }
                }

                .btn-more-seller {
                    font-size: 28px;
                    @include btn(40px, 40px, 0, $point_color1, #ffffff);
                }
            }
        }

        &.wide {
            overflow-x: hidden;
            position: fixed; // IE 전체모드 깨지는 부분 수정
            left: 0;
            top: 0;
            bottom: 0;
            min-width: 950px;
            width: 100%;
            padding-top: 100px;
            margin-top: 0;
            background: #ffffff;
            z-index: 10;
            @include box-sizing;

            // &:before {
            //     content: "";
            //     position: fixed;
            //     left: 0;
            //     top: 0;
            //     width: 100%;
            //     height: 100%;
            //     background: #ffffff;
            // }

            [class^='estimate-body_minishop_'] {
                position: relative;
                z-index: 2;
            }

            .estimate_minishop_greatseller_list {
                overflow-x: scroll !important;
                padding: 36px 0 0;
                margin: -36px 0 0;

                .scroll {
                    padding-bottom: 34px;
                }
            }

            .estimate_minishop_paging {
                display: none;
            }

            .btn-more-seller-clse {
                display: block;
            }

            .btn-more-seller-top {
                display: none;
            }

            .estimate_minishop_greatseller_list {
                padding: 69px 0 0!important;
                margin: -69px 0 0!important;
                .estimate_minishop_greatseller_cell {
                    margin: 0!important;
                    // &:last-child {
                    //     border-right: 0!important;
                    // }
                }
            }
            .echo_mall {
                margin: 0 0 0;
            }
            .scroll {
                .echo_mall {
                    margin: -34px 0 0;
                }
            }

        }

        .btn-more-seller-clse {
            position: absolute;
            right: 30px;
            top: 30px;
            display: none;
            font-size: 28px;
            @include btn(40px, 40px, 0, $point_color1, #ffffff);
        }

        .btn-more-seller-top {
            position: relative;

            .btn-more-seller {
                top: -40px;
                right: 0;
                position: absolute;
                font-size: 28px;
                @include btn(40px, 40px, 0, $point_color1, #ffffff);
            }
        }

    }

    .compare_add_service {
        display: none;
        margin-top: 15px;
        border: 0;
        width: 450px;

        .assembly_service {
            float: none;
            display: inline-block;
            padding: 0;
        }

        .os_service {
            float: none;
            display: inline-block;
            border: 0;
            width: 220px;
            padding: 0;
        }

        .tip {
            float: none;
            display: block;
            width: 450px;
            padding: 0;
        }

        // &:after {

        // }
    }

    // 전문가 조립, 정품 운영체제 설치
    .compare_add_service_old {
        margin-top: 15px;
        border-bottom: 2px solid #333;
        padding: 20px 0;
        border-top: 2px solid $base_color1;
        @include clear;

        .assembly_service {
            width: 310px;
        }

        .assembly_service,
        .os_service {
            float: left;

            padding: 10px;

            .tit-h3 {
                margin-bottom: 10px;
                font-size: 16px;
            }

            ul {
                margin-bottom: 10px;
            }

            li {
                position: relative;
                height: 24px;
                margin-top: 5px;
                color: $base_color2;
                font-weight: bold;
                line-height: 22px;

                &:first-child {
                    margin-top: 0;
                }

                .btn-question-tip {
                    margin: -3px 0 0 5px;
                    @include btn(16px, 16px, 0, null, transparent);

                    img {
                        width: 16px;
                        vertical-align: top;
                    }
                }

                .btn-add {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    margin-top: -11px;
                    font-weight: bold;
                    letter-spacing: 0;
                    @include btn(105px, 24px, 1px solid #ccc, $base_color1, #fff);

                    i {
                        display: inline-block;
                        width: 18px;
                        height: 20px;
                        vertical-align: top;
                        line-height: 20px;

                        &:before {
                            font-size: 18px;
                            color: #c0c0c0;
                        }
                    }

                    span {
                        display: inline-block;
                        height: 20px;
                        width: 60px;
                        padding-left: 5px;
                        text-align: left;
                        vertical-align: top;
                        line-height: 20px;
                        letter-spacing: 0;
                    }

                    &:hover {
                        border-color: $point_color1;

                        i:before {
                            color: $point_color1;
                        }
                    }

                    &.active {
                        border-color: $point_color1;
                        color: #fff;
                        background: $point_color1;

                        i:before {
                            color: #fff;
                        }

                        &:hover {
                            border-color: $point_color1;
                            color: $base_color1;
                            background: #fff;

                            i:before {
                                color: $point_color1;
                            }
                        }
                    }

                    &.alert {
                        border-color: #f54522;
                        color: #fff;
                        background: #f54522;

                        i:before {
                            color: #fff;
                        }

                        &:hover {
                            border-color: $point_color1;
                            color: $base_color1;
                            background: #fff;

                            i:before {
                                color: $point_color1;
                            }
                        }
                    }
                }
            }

            .alert-msg {
                min-height: auto;
                margin-bottom: 5px;
                padding: 0;
            }
        }

        .os_service {
            width: 260px;
            border-left: 1px solid #e8e7ea;

            p {
                margin-top: 5px;
                font-size: 11px;
                color: $base_color3;
                line-height: 22px;
            }
        }

        .tip {
            float: right;
            width: 296px;
            padding: 15px 10px;
            border: 1px solid #ccc;

            ol {
                margin-bottom: 6px;
            }

            li {
                position: relative;
                margin-top: 5px;
                padding-left: 25px;
                color: $base_color3;
                line-height: 18px;

                &:before {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 18px;
                    height: 18px;
                    border-radius: 9px;
                    font-size: 11px;
                    color: #fff;
                    font-weight: bold;
                    background: #c6c6c6;
                    line-height: 18px;
                    text-align: center;
                }

                &:first-child:before {
                    content: '1';
                }

                &:nth-child(2):before {
                    content: '2';
                }

                span {
                    color: $base_color1;
                }
            }

            .btn-powerseller {
                margin-left: 25px;
                color: $point_color1;
            }
        }
    }


    .adv-minishop {
        margin-top: 30px;
    }

    .seller-collection {
        margin-top: 40px;
    }

    @include breakpoint(max-width 1209px) {
        width: 950px;

        .estimate-body_minishop {
            .estimate_compare {
                width: 649px;
            }

            .estimate_minishop {
                float: left;
                width: 299px;
            }
        }

        .estimate-body-ad-top .right {
            display: none;
        }
    }

    .estimate-body_notfound {
        padding-top: 70px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;

        .btn_shopping {
            display: block;
            margin: 20px auto 0;
            font-size: 16px;
            @include btn(140px, 43px, 2px solid $point_color1, $point_color1, #ffffff, center, 39px);

            &:hover {
                background: #f8f8f8;
            }
        }
    }

    .adv_echo {
        margin: 20px 0 0;
        .adv_echo_head {
            padding: 0 10px;
            height: 30px;
            border: solid 1px #ccc;

            h4 {
                float: left;
                font-weight: 400;
                line-height: 30px;
                color: #999;
            }
            .link {
                float: right;
                margin: 5px 0 0;
                padding: 0 5px;
                border-radius: 3px;
                height: 19px;
                line-height: 17px;
                border: 1px solid #ccc;
                font-size: 12px;
                color: #999;
            }
        }
        .adv_echo_content {
            justify-content: space-between;
            flex-wrap: wrap;
            border: solid 1px #ccc;
            border-top: 0;
            padding: 10px;

            &:after {
                content: '';
                display: block;
                clear: both;
            }

            .list {
                float: left;
                width: 19%;
                margin: 0 0 15px;
                margin-right: 1.2%;

                &:nth-child(5n) {
                    margin-right: 0;
                }

                @include breakpoint(max-width 1209px) {
                    width: 24%;
                    margin-right: 1.2%;

                    &:nth-child(5n) {
                        margin-right: 1.2%;
                    }
                    &:nth-child(4n) {
                        margin-right: 0;
                    }
                }

                .thumb {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .info {
                    padding: 3px 5px;
                    height: 30px;
                    border: 1px solid #ccc;
                    border-top: 0;

                    img {
                        width: auto;
                        height: 90%;
                    }
                }
            }
        }
    }
}

// add 180525 jspark@pping.kr .estimate_top_banner

.estimateTopBanner {
    padding-top: 15px;
    margin-bottom: 20px;

    .tbTitle {
        padding-bottom: 11px;
    }

    .fs16px {
        font-size: 16px;
    }

    .pitClr {
        color: $point_color1;
    }

    .TopBanLeft {
        display: inline-block;
        width: 700px;
        box-sizing: border-box;

        .TopBanTabArea {
            position: relative;
            padding: 0 36px;

            .TopBanTabsWrap {
                width: 100%;
                overflow: hidden;
                position: relative;
                z-index: 10;
                padding-left: 1px;

                .TopBanTabs {
                    display: block;
                    border-collapse: collapse;
                    height: 38px;
                    font-size: 0;
                    width: calc(157px * 13);
                    transition: .7s;

                    .TopBanTabItem {
                        display: inline-block;
                        font-size: 12px;
                        font-weight: 800;
                        width: 157.75px !important;
                        height: 38px;
                        line-height: 36px;
                        box-sizing: border-box;
                        border: 1px solid #cccccc;
                        margin-left: -1px;
                        border-bottom-color: $point_color1;
                        text-align: center;
                        border-collapse: collapse;
                        background: #f5f6f9;
                        color: $base_color3;
                        cursor: pointer;
                        position: relative;
                        z-index: 1;

                        &.on {
                            @include BgwhtBdpit;
                            border-bottom-color: #ffffff;
                            color: $point_color1;
                            z-index: 2;
                        }

                        &:hover:not(.on) {
                            background: #ffffff;
                            color: $point_color1;
                        }
                    }
                }
            }

            .TopBanBtns {
                position: absolute;
                top: 0;
                width: 37px;
                height: 37px;
                border-bottom: 1px solid $point_color1;
                background-color: #f5f6f9;
                font-size: 20px;
                color: #9f9f9f;
                display: block;
                z-index: 5;

                &.TopBanLeftBtn {
                    left: 0;
                    border-right-color: #f5f6f9;
                }

                &.TopBanRightBtn {
                    right: 0;
                    border-left-color: #f5f6f9;
                }

                &:hover {
                    @include BgwhtBdpit;
                    color: $point_color1;
                }

                &:active {
                    @include BgwhtBdpit;
                    color: $point_color1;
                }

                .TopBanBtn {
                    border: 1px solid #cccccc;
                    border-bottom-width: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .TopBanConArea {
            border: 1px solid $point_color1;
            border-top: 0;
            padding: 10px;

            .TopBanPointItem a.TBItemLink {
                display: block;
                color: #ffffff;
                background: #39567b;
                font-size: 13px;
                font-weight: 300;
                text-align: center;
                @include txtVer1Li(30);

                &:hover {
                    background: $bg_color1_over;
                }

                .TBItemLinkimg {
                    display: inline-block;
                    margin-left: 5px;
                }
            }

            .TBItemList {
                padding: 10px 0 0;
                height: 120px;
                overflow: hidden;

                .TBItem {
                    display: table;
                    font-size: 13px;
                    @include txtVer1Li(29);

                    .TBItemTxt {
                        display: table-cell;
                        width: 525px;

                        .TBItemTxtLink {
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            word-wrap: normal;
                            overflow: hidden;
                            display: inline-block;
                            max-width: 500px;
                            vertical-align: bottom;
                        }

                        .TBItemTxtLink:hover {
                            color: $point_color1;
                        }

                        .TBItemTxtLink:active {
                            color: $point_color1;
                        }

                        .icon-movie_play {
                            font-size: 20px;
                            vertical-align: middle;
                            color: $point_color1;
                            cursor: pointer;
                            margin-left: 5px;
                        }

                        .icon-movie_play:active {
                            color: #2d7ee4;
                        }

                        .icon-movie_play:hover {
                            color: #2d7ee4;
                        }
                    }

                    .itemPrice {
                        display: table-cell;
                        width: 153px;
                        text-align: right;

                        &.soldout {
                            position: relative;
                            padding-left: 80px;
                            box-sizing: border-box;
                            padding-right: 10px;
                            color: #ffffff;

                            &:before {
                                content: '';
                                position: absolute;
                                right: 0;
                                top: 2px;
                                height: 25px;
                                width: 73px;
                                background: rgba(0, 0, 0, .5);
                                display: block;
                                z-index: -1;
                            }
                        }

                        .btnPriceDel {
                            width: 22px;
                            border: 1px solid #eeeeee;
                            height: 22px;
                            padding: 5px;
                            vertical-align: middle;

                            img {
                                vertical-align: top;
                            }
                        }

                        .spn {
                            font-size: 12px;
                            color: $base_color3;
                            margin-right: 5px;

                            strong {
                                color: #f34522;
                                font-size: 15px;
                            }
                        }

                        [class^='btn-'] {
                            width: 22px;
                            @include txtVer1Li(22);
                        }
                    }
                }
            }
        }
    }

    .TopBanRight {
        width: 230px;
        height: 100%;
        position: absolute;
        top: 42px;
        left: 719px;

        a {
            display: block;

            &.TopBanRight2th {
                padding: 5px 0;
            }
        }
    }

    .layer-pop_comm_confirm {
        width: 360px;
        padding: 60px 27px 40px;

        .popTopBanLayMsg {
            font-size: 16px;
            margin-bottom: 6px;
            display: block;
        }
    }
}
