@charset "utf-8";

#wrap {
	overflow: hidden;
}

.index-body {
	line-height: 1;

	.index-body_main {
		padding-top: 20px;
		@include default_width;

		// 최근 본 상품
		.product-lately {
			margin-bottom: 50px;

			.tit-h2 {
				height: 40px;
				padding-top: 2px;
				font-size: 18px;
			}
		}

		// 장바구니 상품
		.product-basket {
			margin-bottom: 50px;

			.tit-h2 {
				height: 40px;
				padding-top: 2px;
				font-size: 18px;
				color: #000;

				span {
					strong {
						color: $point_color1;
					}
				}
			}

			.product_paging {
				position: absolute;
				right: 0;
				top: -5px;
				font-size: 0;

				.btn_round {
					display: inline-block;
				    margin-right: 18px;
				}

				.paging-number {
					display: inline-block;
    				vertical-align: middle;
    			}
			}
		}

		// 큐레이션
		.curation-wrap {
			margin-top: 50px;

			.lnb_curation {
				height: 120px;

				.lnb_curation_nav {
					position: relative;
					padding-top: 2px;
					z-index: 10;
					@include clear;

					&:before {
						content: "";
						position: absolute;
						top: 0;
						left: 50%;
						width: 1000%;
						margin-left: -500%;
						height: 120px;
						border-top: 2px solid $point_color1;
						border-bottom: 1px solid #d3d0e1;
						font-size: 0;
						background: #fff;
						line-height: 0;
					}

					.lnb_curation_nav_cate {
						position: relative;
						float:left;

						.btn_all_cate {
							font-size: 34px;
							@include btn(70px, 120px, 0, #fff, $point_color1);
						}

						.lnb_curation_nav_cate_list {
							position: absolute;
							left: 0;
							top: 120px;
							width: 190px;

							li {
								border-bottom: 1px solid #fff;

								.btn {
									padding-left: 25px;
									font-size: 14px;
									font-weight: bold;
									text-align: left;
									@include btn(100%, 44px, 0, #fff, $point_color1);
								}

								&:last-child {
									border-bottom: 0;
								}
							}
						}
					}

					.lnb_curation_nav_list {
						overflow: hidden;
						position: relative;
						padding: 0 40px;
						@include box-sizing();

						.lnb_curation_nav_list_in {
							.lnb_curation_nav_list_cates {
								position: relative;
								left: 0;
								box-sizing: border-box;
								overflow: hidden;
								@include clear;

								li {
									float: left;

                                    &:last-child {
                                        .depth2 {
                                            border-right: 1px solid #d3d0e1;
                                        }
                                        ul > li {
                                            &:last-child {
                                                border-right: 1px solid #d3d0e1;
                                            }
                                        }
                                    }

                                    .depth2 {
                                        min-height: 30px;
                                        display: block;
                                        padding-top: 8px;
                                        padding-left: 10px;
                                        box-sizing: border-box;
                                        border-bottom: 1px solid #d3d0e1;
                                        border-left: 1px solid #d3d0e1;
                                        font-weight: 700;
                                        &.no-bor {
                                            border-left: 0;
                                        }
                                    }

                                    ul > li {
                                        border-left: 1px solid #d3d0e1;
                                        // 아이콘
    									.btn {
    										display: block;
    										padding-top: 43px;
    										font-weight: bold;
    										background-image: url("//img.happyshopping.kr/img_static/img_pres/_v3/sprite_2.png");
    										background-repeat: no-repeat;
    										@include btn(79px, 90px, 0, $base_color1, #fff);
    										position: relative;
    										// left: -5px;

    										span {
    											display: block;
    											word-break: keep-all;
                                                height: 18px;
                                                line-height: 14px;
    										}

    										&:hover {
    											background-color: #f0eff5;
    										}

    										// 컴퓨터 주요부품
    										&.ico_1010100000 {
    											background-position: -119px 0;
    										}

    										&.ico_1010200000 {
    											background-position: -210px 0;
    										}

    										&.ico_1010300000 {
    											background-position: -301px 0;
    										}

    										&.ico_1010400000 {
    											background-position: -572px 0;
    										}

    										&.ico_1010500000 {
    											background-position: -481px 0;
    										}

    										&.ico_1010600000 {
    											background-position: -392px 0;
    										}

    										&.ico_1010700000 {
    											background-position: -662px 0;
    										}

    										&.ico_1010800000 {
    											background-position: -755px 0;
    										}

    										&.ico_1010900000 {
    											background-position: -845px 0;
    										}

    										&.ico_1011000000 {
    											background-position: -120px -95px;
    										}

    										&.ico_1011100000 {
    											background-position: -209px -95px;
    										}

    										&.ico_1011201000 {
    											background-position: -300px -95px;
    										}

    										&.ico_1011202000 {
    											background-position: -390px -95px;
    										}

    										// 컴퓨터 주변기기
    										&.ico_1020100000 {
    											background-position: -120px -190px;
    										}

    										&.ico_1020201000 {
    											background-position: -391px -190px;
    										}

    										&.ico_1020202000 {
    											background-position: -211px -190px;
    										}

    										&.ico_1020203000 {
    											background-position: -300px -190px;
    										}

    										&.ico_1020301000 {
    											background-position: -573px -190px;
    										}

    										&.ico_1020302000 {
    											background-position: -483px -190px;
    										}

    										&.ico_1020303000 {
    											background-position: -664px -190px;
    										}

    										&.ico_1020401000 {
    											background-position: -483px -285px;
    										}

    										&.ico_1020402000 {
    											background-position: -392px -285px;
    										}

    										&.ico_1020501000 {
    											background-position: -300px -285px;
    										}

    										&.ico_1020503000 {
    											background-position: -210px -285px;
    										}

    										&.ico_1020601000 {
    											background-position: -210px -285px;
    										}

    										&.ico_1020602000 {
    											background-position: -757px -190px;
    										}

    										&.ico_1020603000 {
    											background-position: -846px -190px;
    										}

    										&.ico_1020701000 {
    											background-position: -851px -285px;
    										}

    										&.ico_1020702000 {
    											background-position: -576px -285px;
    										}

    										&.ico_1020703000 {
    											background-position: -665px -285px;
    										}

    										&.ico_1020704000 {
    											background-position: -757px -285px;
    										}

    										// 소프트웨어/전산소모품
    										&.ico_1030100000 {
    											background-position: -116px -380px;
    										}

    										&.ico_1030201000 {
    											background-position: -393px -380px;
    										}

    										&.ico_1030202000 {
    											background-position: -212px -380px;
    										}

    										&.ico_1030203000 {
    											background-position: -302px -380px;
    										}

    										&.ico_1030301000 {
    											background-position: -574px -380px;
    										}

    										&.ico_1030302000 {
    											background-position: -488px -380px;
    										}

    										// DSLR/디카/캠코더
    										&.ico_1040201000 {
    											background-position: -210px -475px;
    										}

    										&.ico_1040202000 {
    											background-position: -119px -475px;
    										}

    										// 디지털 완제품
    										&.ico_1050101000 {
    											background-position: -118px -570px;
    										}

    										&.ico_1050201000 {
    											background-position: -210px -570px;
    										}

    										&.ico_1050301001 {
    											background-position: -303px -570px;
    										}

    										&.ico_1050301002 {
    											background-position: -393px -570px;;
    										}

    										&.ico_1050302001 {
    											background-position: -664px -570px;
    										}

    										&.ico_1050302002 {
    											background-position: -121px -665px;
    										}

    										&.ico_1050302003 {
    											background-position: -846px -570px;
    										}

    										&.ico_1050302004 {
    											background-position: -214px -665px;
    										}

    										&.ico_1050302005 {
    											background-position: -757px -570px;
    										}

    										&.ico_1050304001 {
    											background-position: -301px -665px;
    										}

    										&.ico_1050304002 {
    											background-position: -391px -665px;
    										}

    										&.ico_1050304003 {
    											background-position: -485px -665px;
    										}

    										&.ico_1050304004 {
    											background-position: -576px -665px;
    										}

    										&.ico_1050308004 {
    											background-position: -484px -570px;
    										}

    										&.ico_1050308005 {
    											background-position: -572px -570px;
    										}

    										&.ico_1050401000 {
    											background-position: -666px -665px;
    										}

    										&.ico_1050402000 {
    											background-position: -757px -665px;
    										}

    										&.ico_1050502000 {
    											background-position: -848px -665px;
    										}

    										&.ico_1050603000 {
    											background-position: -124px -760px;
    										}

                                            // 주방가전
    										&.ico_1070100000 {
    											background-position: -20px -970px;
    										}

    										&.ico_1070200000 {
    											background-position: -98px -970px;
    										}

    										&.ico_1070300000 {
    											background-position: -177px -970px;
    										}

    										&.ico_1070400000 {
    											background-position: -256px -970px;
    										}

    										&.ico_1070500000 {
    											background-position: -335px -970px;
    										}

    										&.ico_1070600000 {
    											background-position: -415px -970px;
    										}

    										&.ico_1070700000 {
    											background-position: -492px -970px;
    										}

    										&.ico_1070800000 {
    											background-position: -572px -970px;
    										}

    										&.ico_1070900000 {
    											background-position: -652px -970px;
    										}

    										&.ico_1071000000 {
    											background-position: -732px -970px;
    										}

                                            // 생활가전
    										&.ico_1080100000 {
    											background-position: -20px -1118px;
    										}

    										&.ico_1080200000 {
    											background-position: -98px -1118px;
    										}

    										&.ico_1080300000 {
    											background-position: -177px -1118px;
    										}

    										&.ico_1080400000 {
    											background-position: -256px -1118px;
    										}

    										&.ico_1080500000 {
    											background-position: -335px -1118px;
    										}

    										&.ico_1080600000 {
    											background-position: -415px -1118px;
    										}

    										&.ico_1080700000 {
    											background-position: -492px -1118px;
    										}

    										&.ico_1080800000 {
    											background-position: -572px -1118px;
    										}

    										&.ico_1080900000 {
    											background-position: -652px -1118px;
    										}

                                            // 계절가전
    										&.ico_1090100000 {
    											background-position: -18px -1263px;
    										}

    										&.ico_1090200000 {
    											background-position: -98px -1263px;
    										}

    										&.ico_1090300000 {
    											background-position: -178px -1263px;
    										}

    										&.ico_1090400000 {
    											background-position: -256px -1263px;
    										}

    										&.ico_1090500000 {
    											background-position: -335px -1263px;
    										}

    										&.ico_1090600000 {
    											background-position: -415px -1263px;
    										}

                                            // 건강미용가전
    										&.ico_1100100000 {
    											background-position: -18px -1410px;
    										}

    										&.ico_1100200000 {
    											background-position: -98px -1410px;
    										}

    										&.ico_1100300000 {
    											background-position: -178px -1410px;
    										}

    										&.ico_1100400000 {
    											background-position: -256px -1410px;
    										}

    										&.ico_1100500000 {
    											background-position: -335px -1410px;
    										}

    										&.ico_1100600000 {
    											background-position: -415px -1410px;
    										}

                                            // 영상음향가전
    										&.ico_1110100000 {
    											background-position: -18px -1555px;
    										}

    										&.ico_1110200000 {
    											background-position: -98px -1555px;
    										}

    										&.ico_1110300000 {
    											background-position: -178px -1555px;
    										}

    										&.ico_1110400000 {
    											background-position: -256px -1555px;
    										}

    										&.ico_1110500000 {
    											background-position: -335px -1555px;
    										}

    										&.ico_1110600000 {
    											background-position: -415px -1555px;
    										}

                                            &.ico_1110700000 {
    											background-position: -492px -1555px;
    										}

    										&.ico_1110800000 {
    											background-position: -572px -1555px;
    										}

                                            // 자동차 용품
    										&.ico_1120100000 {
    											background-position: -18px -1706px;
    										}

    										&.ico_1120200000 {
    											background-position: -98px -1706px;
    										}

    										&.ico_1120300000 {
    											background-position: -178px -1706px;
    										}

    										&.ico_1120400000 {
    											background-position: -256px -1706px;
    										}

    										&.ico_1120500000 {
    											background-position: -335px -1706px;
    										}

    										&.ico_1120600000 {
    											background-position: -415px -1706px;
    										}

                                            &.ico_1120700000 {
    											background-position: -492px -1706px;
    										}

    										&.ico_1120800000 {
    											background-position: -572px -1706px;
    										}

    										&.ico_1120900000 {
    											background-position: -652px -1706px;
    										}

    										&.ico_1121000000 {
    											background-position: -732px -1706px;
    										}

    										&.ico_1121100000 {
    											background-position: -810px -1706px;
    										}

    										&.active {
    											color: #fff;

    											// 컴퓨터 주요부품
    											&.ico_1010100000 {
    												background-position: -938px 0;
    											}

    											&.ico_1010200000 {
    												background-position: -1029px 0;
    											}

    											&.ico_1010300000 {
    												background-position: -1119px 0;
    											}

    											&.ico_1010400000 {
    												background-position: -1389px 0;
    											}

    											&.ico_1010500000 {
    												background-position: -1300px 0;
    											}

    											&.ico_1010600000 {
    												background-position: -1210px 0;
    											}

    											&.ico_1010700000 {
    												background-position: -1481px 0;
    											}

    											&.ico_1010800000 {
    												background-position: -1573px 0;
    											}

    											&.ico_1010900000 {
    												background-position: -1665px 0;
    											}

    											&.ico_1011000000 {
    												background-position: -942px -95px;
    											}

    											&.ico_1011100000 {
    												background-position: -1028px -95px;
    											}

    											&.ico_1011201000 {
    												background-position: -1117px -95px;
    											}

    											&.ico_1011202000 {
    												background-position: -1207px -95px;
    											}

    											// 컴퓨터 주변기기
    											&.ico_1020100000 {
    												background-position: -940px -190px;
    											}

    											&.ico_1020201000 {
    												background-position: -1209px -190px;
    											}

    											&.ico_1020202000 {
    												background-position: -1030px -190px;
    											}

    											&.ico_1020203000 {
    												background-position: -1120px -190px;
    											}

    											&.ico_1020301000 {
    												background-position: -1392px -190px;
    											}

    											&.ico_1020302000 {
    												background-position: -1302px -190px;
    											}

    											&.ico_1020303000 {
    												background-position: -1484px -190px;
    											}

    											&.ico_1020401000 {
    												background-position: -1303px -285px;
    											}

    											&.ico_1020402000 {
    												background-position: -1211px -285px;
    											}

    											&.ico_1020501000 {
    												background-position: -1121px -285px;
    											}

    											&.ico_1020503000 {
    												background-position: -1030px -285px;
    											}

    											&.ico_1020601000 {
    												background-position: -1029px -285px;
    											}

    											&.ico_1020602000 {
    												background-position: -1576px -190px;
    											}

    											&.ico_1020603000 {
    												background-position: -1665px -190px;
    											}

    											&.ico_1020701000 {
    												background-position: -1670px -285px;
    											}

    											&.ico_1020702000 {
    												background-position: -1394px -285px;
    											}

    											&.ico_1020703000 {
    												background-position: -1484px -285px;
    											}

    											&.ico_1020704000 {
    												background-position: -1576px -285px;
    											}

    											// 소프트웨어/전산소모품
    											&.ico_1030100000 {
    												background-position: -935px -380px;
    											}

    											&.ico_1030201000 {
    												background-position: -1213px -380px;
    											}

    											&.ico_1030202000 {
    												background-position: -1031px -380px;
    											}

    											&.ico_1030203000 {
    												background-position: -1121px -380px;
    											}

    											&.ico_1030301000 {
    												background-position: -1393px -380px;
    											}

    											&.ico_1030302000 {
    												background-position: -1306px -380px;
    											}

    											// DSLR/디카/캠코더
    											&.ico_1040201000 {
    												background-position: -1029px -475px;
    											}

    											&.ico_1040202000 {
    												background-position: -939px -475px;
    											}

    											// 디지털 완제품
    											&.ico_1050101000 {
    												background-position: -938px -570px;
    											}

    											&.ico_1050201000 {
    												background-position: -1028px -570px;
    											}

    											&.ico_1050301001 {
    												background-position: -1122px -570px;
    											}

    											&.ico_1050301002 {
    												background-position: -1211px -570px;
    											}

    											&.ico_1050302001 {
    												background-position: -1480px -570px;
    											}

    											&.ico_1050302002 {
    												background-position: -940px -665px;
    											}

    											&.ico_1050302003 {
    												background-position: -1665px -570px;
    											}

    											&.ico_1050302004 {
    												background-position: -1035px -665px;
    											}

    											&.ico_1050302005 {
    												background-position: -1575px -570px;
    											}

    											&.ico_1050304001 {
    												background-position: -1119px -665px;
    											}

    											&.ico_1050304002 {
    												background-position: -1211px -665px;
    											}

    											&.ico_1050304003 {
    												background-position: -1304px -665px;
    											}

    											&.ico_1050304004 {
    												background-position: -1395px -665px;
    											}

    											&.ico_1050308004 {
    												background-position: -1302px -570px;
    											}

    											&.ico_1050308005 {
    												background-position: -1391px -570px;
    											}

    											&.ico_1050401000 {
    												background-position: -1485px -665px;
    											}

    											&.ico_1050402000 {
    												background-position: -1484px -570px;
    											}

    											&.ico_1050502000 {
    												background-position: -1667px -665px;
    											}

    											&.ico_1050603000 {
    												background-position: -942px -760px;
    											}

                                                // 주방가전
        										&.ico_1070100000 {
        											background-position: -932px -970px;
        										}

        										&.ico_1070200000 {
        											background-position: -1010px -970px;
        										}

        										&.ico_1070300000 {
        											background-position: -1089px -970px;
        										}

        										&.ico_1070400000 {
        											background-position: -1168px -970px;
        										}

        										&.ico_1070500000 {
        											background-position: -1246px -970px;
        										}

        										&.ico_1070600000 {
        											background-position: -1325px -970px;
        										}

        										&.ico_1070700000 {
        											background-position: -1404px -970px;
        										}

        										&.ico_1070800000 {
        											background-position: -1484px -970px;
        										}

        										&.ico_1070900000 {
        											background-position: -1564px -970px;
        										}

        										&.ico_1071000000 {
        											background-position: -1645px -970px;
        										}

                                                // 생활가전
        										&.ico_1080100000 {
        											background-position: -932px -1118px;
        										}

        										&.ico_1080200000 {
        											background-position: -1010px -1118px;
        										}

        										&.ico_1080300000 {
        											background-position: -1089px -1118px;
        										}

        										&.ico_1080400000 {
        											background-position: -1168px -1118px;
        										}

        										&.ico_1080500000 {
        											background-position: -1246px -1118px;
        										}

        										&.ico_1080600000 {
        											background-position: -1325px -1118px;
        										}

        										&.ico_1080700000 {
        											background-position: -1404px -1118px;
        										}

        										&.ico_1080800000 {
        											background-position: -1484px -1118px;
        										}

        										&.ico_1080900000 {
        											background-position: -1564px -1118px;
        										}

                                                // 계절가전
        										&.ico_1090100000 {
        											background-position: -932px -1263px;
        										}

        										&.ico_1090200000 {
        											background-position: -1010px -1263px;
        										}

        										&.ico_1090300000 {
        											background-position: -1089px -1263px;
        										}

        										&.ico_1090400000 {
        											background-position: -1168px -1263px;
        										}

        										&.ico_1090500000 {
        											background-position: -1246px -1263px;
        										}

        										&.ico_1090600000 {
        											background-position: -1325px -1263px;
        										}

                                                // 건강미용가전
        										&.ico_1100100000 {
        											background-position: -932px -1410px;
        										}

        										&.ico_1100200000 {
        											background-position: -1010px -1410px;
        										}

        										&.ico_1100300000 {
        											background-position: -1089px -1410px;
        										}

        										&.ico_1100400000 {
        											background-position: -1168px -1410px;
        										}

        										&.ico_1100500000 {
        											background-position: -1246px -1410px;
        										}

        										&.ico_1100600000 {
        											background-position: -1325px -1410px;
        										}

                                                // 영상음향가전
        										&.ico_1110100000 {
        											background-position: -932px -1555px;
        										}

        										&.ico_1110200000 {
        											background-position: -1010px -1555px;
        										}

        										&.ico_1110300000 {
        											background-position: -1089px -1555px;
        										}

        										&.ico_1110400000 {
        											background-position: -1168px -1555px;
        										}

        										&.ico_1110500000 {
        											background-position: -1246px -1555px;
        										}

        										&.ico_1110600000 {
        											background-position: -1325px -1555px;
        										}

                                                &.ico_1110700000 {
        											background-position: -1404px -1555px;
        										}

        										&.ico_1110800000 {
        											background-position: -1484px -1555px;
        										}

                                                // 자동차 용품
        										&.ico_1120100000 {
        											background-position: -932px -1706px;
        										}

        										&.ico_1120200000 {
        											background-position: -1010px -1706px;
        										}

        										&.ico_1120300000 {
        											background-position: -1089px -1706px;
        										}

        										&.ico_1120400000 {
        											background-position: -1168px -1706px;
        										}

        										&.ico_1120500000 {
        											background-position: -1246px -1706px;
        										}

        										&.ico_1120600000 {
        											background-position: -1325px -1706px;
        										}

                                                &.ico_1120700000 {
        											background-position: -1404px -1706px;
        										}

        										&.ico_1120800000 {
        											background-position: -1484px -1706px;
        										}

        										&.ico_1120900000 {
        											background-position: -1564px -1706px;
        										}

        										&.ico_1121000000 {
        											background-position: -1645px -1706px;
        										}

        										&.ico_1121100000 {
        											background-position: -1721px -1706px;
        										}

    										}
    									}
                                    }

								}
							}
						}

						.btn_prev,
						.btn_next {
							position: absolute;
							top: 0;
							font-size: 27px;
							@include btn(40px, 120px, 0, #b5b0ce, #fff);

							&:hover {
								color: $base_color2;
							}
						}

						.btn_prev {
							left: 0;
						}

						.btn_next {
							right: 0;
						}
					}

					&.fixed {
						position: fixed;
						top: 0;
						z-index: 11;

						.lnb_curation_nav_list {
							width: calc(950px - 78px);
						}
					}
				}
			}

			.curation_body {
				margin-top: 20px;

				.tit-h2 {
					height: 34px;
					font-size: 18px;
				}

				.curation_list {
					.curation_box {
						position: relative;
						margin-top: 18px;
						border-width: 2px 1px 1px;
						border-style: solid;
						border-color: #d3d0e1;
						@include clear;

						&:first-child {
							margin-top: 0;
						}

						.curation_box_head {
							float: left;
							width: 152px;
							padding: 12px 10px 12px 14px;
							@include box-sizing();

							.tit-h3 {
								margin-bottom: 25px;
								font-size: 26px;
								letter-spacing: -2px;
								word-break: keep-all;
                        		word-wrap: break-word;
							}

							.btn_com_esti {
								display: inline-block;
								height: 22px;
								padding-left: 25px;
								font-size: 14px;
								color: $base_color2;
								font-weight: bold;
								background: url("//img.happyshopping.kr/img_static/img_pres/_v3/ico_gnb_estimate.png") no-repeat 0 50%;
								line-height: 22px;

								[class^="icon-"] {
									color: $point_color2;
								}

								&:hover {
									color: $point_color2;
								}
							}

							.btn_search {
								margin-top: 10px;
								font-size: 14px;
								font-weight: bold;
								@include btn(null, null, 0, $base_color2, transparent);

								[class^="icon-"] {
									color: $point_color2;
								}

								&:hover {
									color: $point_color2;
								}
							}
						}

						.btn_prev,
						.btn_next {
							opacity: 0;
							position: absolute;
							top: 50%;
							margin-top: - 23px;
							font-size: 25px;
							@include btn(22px, 46px, 0, #fff, rgba(0, 0, 0, 0.5));
						}

						.btn_prev {
							left: 0;
						}

						.btn_next {
							right: 0;
						}

						.curation_box_imgs {
							overflow: hidden;
							position: relative;
							float: left;
							width: 250px;
							height: 578px;
							border-left: 1px solid #e1dfeb;
							border-right: 1px solid #e1dfeb;
							@include box-sizing();

							.curation_box_imgs_bnr {
								overflow: hidden;
							}
						}

						.curation_box_items {
							position: relative;
							float: left;
							width: calc(100% - 402px);
							height: 578px;

                            .soon {
                                text-align: center;
                                position: relative;
                                top: 90px;
                            }

							.curation_box_items_list {
								position: relative;
								@include clear;

								&:before {
									content: "";
									position: absolute;
									left: 0;
									top: 50%;
									width: 100%;
									height: 1px;
									margin-top: -1px;
									font-size: 0;
									background: #e1dfeb;
									line-height: 0;
								}

								.item-product {
									float: left;
									width: calc(100% / 3);
									margin-bottom: 1px;
									padding: 15px 16px;
									@include box-sizing();

									.thumb {
										position: relative;
										@include size(150px);

										a {
											display: block;

											img {
												max-width: 100%;
											}
										}

										.btn_happytree {
											@include btn_happytree;
										}
									}

									.item-product_conts {
										margin-top: 5px;

										.productname {
											display: block;
											height: 32px;
										    color: $base_color1;
										    font-size: 12px;
										    line-height: 1.3;
										    word-break: keep-all;
                        					word-wrap: break-word;
										}

										.productprice {
											margin-top: 10px;
											font-size: 0;
											text-align: right;

											.vm {
												display: inline-block;
												height: 22px;
												margin-right: 5px;
												color: $base_color3;
												vertical-align: middle;

												em {
													display: inline-block;
													font-size: 11px;

													&.lowest,
													&.spc {
														width: 28px;
													    height: 18px;
													    line-height: 16px;
													    text-align: center;
													    vertical-align: 3px;
													    @include box-sizing();
													}

													&.lowest {
													    border: 1px solid transparent
													}

													&.spc {
													    color: $point_color1;
													    background: #fff;
													    border: 1px solid $point_color1;
													}
												}

												strong {
													display: inline-block;
													height: 22px;
													margin-left: 5px;
													font-size: 18px;
													line-height: 22px;
												}
											}

											.btn-add-to {
												font-size: 14px;
												line-height: 22px;
												@include size(22px);
											}

											.productprice_basic {
												.vm {
													strong {
														color: $point_color2;
													}
												}
											}

											.productprice_spc {
												margin-top: 2px;
												background: #e4effc;

												.vm {
													strong {
														color: $base_color1;
													}
												}
											}
										}
									}

									&:hover {
										.thumb {
											outline: 1px solid $point_color1;
										}
									}
								}
							}
						}

						.carousel {
							position: absolute;
							width: 100%;
							left: 0;
							bottom: 10px;
							font-size: 0;
							text-align: center;

							.btn {
								margin-left: 10px;
								border-radius: 6px;
								@include btn(12px, 12px, 0, null, rgba(0, 0, 0, 0.2));

								&:first-child {
									margin-left: 0;
								}

								&:hover,
								&.active {
									background: rgba(0, 0, 0, 0.5);
								}
							}
						}

						[class^="curation_box_"] {
							&:hover {
								.btn_prev,
								.btn_next {
									opacity: 1;

									&:hover {
										background: rgba(0, 0, 0, 0.7);
									}
								}
							}
						}
					}
				}
			}

			&.cate1 {
				.lnb_curation {
					.lnb_curation_nav {
						&:before {
							border-top-color: $point_color1;
						}

						.lnb_curation_nav_cate {
							.btn_all_cate {
								background-color: $point_color1;
							}

							.lnb_curation_nav_cate_list {
								li {
									.btn {
										background-color: $point_color1;

										&.active {
											background-color: #0f4f9f;
										}
										&:hover {
											background-color: #2d7ee4;
										}
									}
								}
							}
						}

						.lnb_curation_nav_list {
							.lnb_curation_nav_list_in {
								.lnb_curation_nav_list_cates {
									li {
                                        .depth2 {
                                            background-color: #e0eefb;
                                        }
										.btn {
											&.active {
												background-color: $point_color1;
											}
										}
									}
								}
							}
						}
					}

				}

				.curation_body {
					.curation_list {
						.curation_box {
							border-top-color: $point_color1;

							.curation_box_head {
								.tit-h3 {
									color: $point_color1;
								}
							}
						}
					}
				}
			}

			&.cate2 {
				.lnb_curation {
					.lnb_curation_nav {
						&:before {
							border-top-color: #00acc2;
						}

						.lnb_curation_nav_cate {
							.btn_all_cate {
								background-color: #00acc2;
							}

							.lnb_curation_nav_cate_list {
								li {
									.btn {
										background-color: #00acc2;

										&.active {
											background-color: #005a69;
										}
										&:hover {
											background-color: #0092a5;
										}
									}
								}
							}
						}

						.lnb_curation_nav_list {
							.lnb_curation_nav_list_in {
								.lnb_curation_nav_list_cates {
									li {
                                        .depth2 {
                                            background-color: #d9f5f8;
                                        }
										.btn {
											&.active {
												background-color: #00acc2;
											}
										}
									}
								}
							}
						}
					}
				}

				.curation_body {
					.curation_list {
						.curation_box {
							border-top-color: #00acc2;

							.curation_box_head {
								.tit-h3 {
									color: #00acc2;
								}
							}
						}
					}
				}
			}

			&.cate3 {
				.lnb_curation {
					.lnb_curation_nav {
						&:before {
							border-top-color: #59a45f;
						}

						.lnb_curation_nav_cate {
							.btn_all_cate {
								background-color: #59a45f;
							}

							.lnb_curation_nav_cate_list {
								li {
									.btn {
										background-color: #59a45f;

										&.active {
											background-color: #006c0a;
										}
										&:hover {
											background-color: #4c8c51;
										}
									}
								}
							}
						}

						.lnb_curation_nav_list {
							.lnb_curation_nav_list_in {
								.lnb_curation_nav_list_cates {
									li {
                                        .depth2 {
                                            background-color: #e2fbe5;
                                        }
										.btn {
											&.active {
												background-color: #59a45f;
											}
										}
									}
								}
							}
						}
					}
				}

				.curation_body {
					.curation_list {
						.curation_box {
							border-top-color: #59a45f;

							.curation_box_head {
								.tit-h3 {
									color: #59a45f;
								}
							}
						}
					}
				}
			}

			&.cate4 {
				.lnb_curation {
					.lnb_curation_nav {
						&:before {
							border-top-color: #8865e7;
						}

						.lnb_curation_nav_cate {
							.btn_all_cate {
								background-color: #8865e7;
							}

							.lnb_curation_nav_cate_list {
								li {
									.btn {
										background-color: #8865e7;

										&.active {
											background-color: #441cb1;
										}
										&:hover {
											background-color: #7859cc;
										}
									}
								}
							}
						}

						.lnb_curation_nav_list {
							.lnb_curation_nav_list_in {
								.lnb_curation_nav_list_cates {
									li {
                                        .depth2 {
                                            background-color: #ece8f9;
                                        }
										.btn {
											&.active {
												background-color: #8865e7;
											}
										}
									}
								}
							}
						}
					}
				}

				.curation_body {
					.curation_list {
						.curation_box {
							border-top-color: #8865e7;

							.curation_box_head {
								.tit-h3 {
									color: #8865e7;
								}
							}
						}
					}
				}
			}

			&.cate5 {
				.lnb_curation {
					.lnb_curation_nav {
						&:before {
							border-top-color: #f3755b;
						}

						.lnb_curation_nav_cate {
							.btn_all_cate {
								background-color: #f3755b;
							}

							.lnb_curation_nav_cate_list {
								li {
									.btn {
										background-color: #f3755b;

										&.active {
											background-color: #c02d0e;
										}
										&:hover {
											background-color: #db6a52;
										}
									}
								}
							}
						}

						.lnb_curation_nav_list {
							.lnb_curation_nav_list_in {
								.lnb_curation_nav_list_cates {
									li {
                                        .depth2 {
                                            background-color: #feefec;
                                        }
										.btn {
											&.active {
												background-color: #f3755b;
											}
										}
									}
								}
							}
						}
					}
				}
			}

            &.cate6 {
				.lnb_curation {
					.lnb_curation_nav {
						&:before {
							border-top-color: #bcc219;
						}

						.lnb_curation_nav_cate {
							.btn_all_cate {
								background-color: #bcc219;
							}

							.lnb_curation_nav_cate_list {
								li {
									.btn {
										background-color: #bcc219;

										&.active {
											background-color: #70740f;
										}
										&:hover {
											background-color: #a1a716;
										}
									}
								}
							}
						}

						.lnb_curation_nav_list {
							.lnb_curation_nav_list_in {
								.lnb_curation_nav_list_cates {
									li {
                                        .depth2 {
                                            background-color: #fafbe0;
                                        }
										.btn {
											&.active {
												background-color: #bcc219;
											}
										}
									}
								}
							}
						}
					}
				}
			}

            &.cate6 {
				.lnb_curation {
					.lnb_curation_nav {
						&:before {
							border-top-color: #bcc219;
						}

						.lnb_curation_nav_cate {
							.btn_all_cate {
								background-color: #bcc219;
							}

							.lnb_curation_nav_cate_list {
								li {
									.btn {
										background-color: #bcc219;

										&.active {
											background-color: #70740f;
										}
										&:hover {
											background-color: #a1a716;
										}
									}
								}
							}
						}

						.lnb_curation_nav_list {
							.lnb_curation_nav_list_in {
								.lnb_curation_nav_list_cates {
									li {
                                        .depth2 {
                                            background-color: #fafbe0;
                                        }
										.btn {
											&.active {
												background-color: #bcc219;
											}
										}
									}
								}
							}
						}
					}
				}
			}

            &.cate7 {
				.lnb_curation {
					.lnb_curation_nav {
						&:before {
							border-top-color: #bcc219;
						}

						.lnb_curation_nav_cate {
							.btn_all_cate {
								background-color: #bcc219;
							}

							.lnb_curation_nav_cate_list {
								li {
									.btn {
										background-color: #bcc219;

										&.active {
											background-color: #70740f;
										}
										&:hover {
											background-color: #a1a716;
										}
									}
								}
							}
						}

						.lnb_curation_nav_list {
							.lnb_curation_nav_list_in {
								.lnb_curation_nav_list_cates {
									li {
                                        .depth2 {
                                            background-color: #fafbe0;
                                        }
										.btn {
											&.active {
												background-color: #bcc219;
											}
										}
									}
								}
							}
						}
					}
				}
			}

            &.cate8 {
				.lnb_curation {
					.lnb_curation_nav {
						&:before {
							border-top-color: #bcc219;
						}

						.lnb_curation_nav_cate {
							.btn_all_cate {
								background-color: #bcc219;
							}

							.lnb_curation_nav_cate_list {
								li {
									.btn {
										background-color: #bcc219;

										&.active {
											background-color: #70740f;
										}
										&:hover {
											background-color: #a1a716;
										}
									}
								}
							}
						}

						.lnb_curation_nav_list {
							.lnb_curation_nav_list_in {
								.lnb_curation_nav_list_cates {
									li {
                                        .depth2 {
                                            background-color: #fafbe0;
                                        }
										.btn {
											&.active {
												background-color: #bcc219;
											}
										}
									}
								}
							}
						}
					}
				}
			}

            &.cate9 {
				.lnb_curation {
					.lnb_curation_nav {
						&:before {
							border-top-color: #bcc219;
						}

						.lnb_curation_nav_cate {
							.btn_all_cate {
								background-color: #bcc219;
							}

							.lnb_curation_nav_cate_list {
								li {
									.btn {
										background-color: #bcc219;

										&.active {
											background-color: #70740f;
										}
										&:hover {
											background-color: #a1a716;
										}
									}
								}
							}
						}

						.lnb_curation_nav_list {
							.lnb_curation_nav_list_in {
								.lnb_curation_nav_list_cates {
									li {
                                        .depth2 {
                                            background-color: #fafbe0;
                                        }
										.btn {
											&.active {
												background-color: #bcc219;
											}
										}
									}
								}
							}
						}
					}
				}
			}

            &.cate10 {
				.lnb_curation {
					.lnb_curation_nav {
						&:before {
							border-top-color: #bcc219;
						}

						.lnb_curation_nav_cate {
							.btn_all_cate {
								background-color: #bcc219;
							}

							.lnb_curation_nav_cate_list {
								li {
									.btn {
										background-color: #bcc219;

										&.active {
											background-color: #70740f;
										}
										&:hover {
											background-color: #a1a716;
										}
									}
								}
							}
						}

						.lnb_curation_nav_list {
							.lnb_curation_nav_list_in {
								.lnb_curation_nav_list_cates {
									li {
                                        .depth2 {
                                            background-color: #fafbe0;
                                        }
										.btn {
											&.active {
												background-color: #bcc219;
											}
										}
									}
								}
							}
						}
					}
				}
			}

            &.cate11 {
				.lnb_curation {
					.lnb_curation_nav {
						&:before {
							border-top-color: #dc412c;
						}

						.lnb_curation_nav_cate {
							.btn_all_cate {
								background-color: #dc412c;
							}

							.lnb_curation_nav_cate_list {
								li {
									.btn {
										background-color: #dc412c;

										&.active {
											background-color: #aa1111;
										}
										&:hover {
											background-color: #c63b28;
										}
									}
								}
							}
						}

						.lnb_curation_nav_list {
							.lnb_curation_nav_list_in {
								.lnb_curation_nav_list_cates {
									li {
                                        .depth2 {
                                            background-color: #fbeae7;
                                        }
										.btn {
											&.active {
												background-color: #dc412c;
											}
										}
									}
								}
							}
						}
					}
				}
			}

		}

		.index-body_main_adv {
			overflow: hidden;
			margin-top: 20px;
			border: 1px solid #d3d0e1;
		}

		.index-body_main_bnb {
			margin-top: 20px;
    		border: 1px solid #0f4f9f;

    		.tit-h2 {
    			height: 43px;
    			padding-left: 14px;
    			border-bottom: 1px solid #d3d0e1;
    			font-size: 14px;
    			font-weight: normal;
    			line-height: 43px;

    			[class^="icon-"] {
    				margin-right: 8px;
    				font-size: 12px;
    				color: $point_color2;
    				vertical-align: 1px;
    			}
    		}

    		.index-body_main_bnb_nav {
    			font-size: 0;

    			.btn {
    				font-size: 14px;
    				@include btn(20%, 40px, 0, #000, #fff);
    				border-left: 1px solid #d3d0e1;

    				&:first-child {
    					border-left: 0;
    				}

    				&:hover,
    				&.active {
    					background: #f0eff5;
    				}

    				&.active {
    					color: #0f4f9f;
    					font-weight: bold;
    				}
    			}
    		}
		}
	}

	.seller-collection {
		margin-top: 50px;
	}

	// 공지사항
	.notice-wrap {
		margin-top: 15px;
		border-top: 1px solid #d3d0e1;
	}

	@include respond-to($small_desktop) {
		.index-body_main {
			width: 950px;
		}
	}
}
