@charset "utf-8";

@import
	'../utils/mixins';

@import
	'components/aside',
	'components/product',
	'components/paging';

@import
	'pages/list';
	//'pages/o_market';
.openMarkTop{
	.breadLine{
		border-bottom:2px solid $base_color1;
		padding:10px 0;
		margin-bottom:20px;
		select{
			min-width:110px;
		}
	}
	.subCateDiv{
		font-size:0;
		position:relative;
		margin-top:20px;
		&:after{
			position:absolute;
			top:0;
			left:0;
			bottom:-1px;
			width:100%;
			content: "";
			border:1px solid #ccc;
			z-index: -1;
			@include box-sizing;
		}
		a{
			font-size:12px;
			display:inline-block;
		    width: 159.2px;
		    border: 1px solid #ccc;
		    margin-right: -1px;
		    margin-bottom: -1px;
			@include box-sizing;
			@include txtVer1Li(40);
			text-align: center;
			z-index: 1;
			position: relative;
			&.on{
				z-index:5;
				border-color:$point_color1;
				color:$point_color1;
			}
			&:hover{
				z-index:5;
				border-color:$point_color1;
			}
		}
	}
}
.searchList{
	.relatedQuery{
		font-size:12px;
		border-bottom:1px solid #e5e5e5;
		padding-bottom:10px;
		a{
			color:$point_color1;
			padding:0 5px;
			&:hover{
				text-decoration: underline;
			}
		}
		&:before{
			content:'연관검색어';
			margin-right:5px;
			font-weight:bold;
		}
	}
	.whatKWD{
		font-size:28px;
		padding:20px 0;
		strong{
			color:$point_color1;
		}
	}
	.searchOptTbl{
		width:100%;
		th{
			width:180px;
			text-align:left;
			background:#39567b;
			color:#fff;
			vertical-align: top;
			border-bottom:1px solid #4f6889;
			padding:15px 20px;
			&:last-child{
				border-color:#39567b;
			}
			.icon-add{
				float: right;
				font-weight: bold;
			}
			&.on{
				background:#334e6f;
				.icon-add{
					&:before{
						content: "\e95d";
					}
				}
				&+.optCate{
					strong{
						display:block;
					}
					.cntCate{
						display:inline;
					}
					.optBtns{
						font-size:0;
						padding:10px;
						button{
							@include box-sizing;
							text-align: left;
							display:inline-block;
							font-size:12px;
							width:175px;
							margin:3px 1px;
						}
					}
				}
			}
		}
		td{
			cursor: default;
			border:1px solid #e5e5e5;
			.optBtns{
				padding:10px;
				button{
					margin:0 5px;
					height: 20px;
					span{
						padding:1px 5px;
					}

				}
			}
			.rightOpts{
				position:absolute;
				top:6px;
				right:150px;
				input{
					width:100px;
					height:30px;
					margin:0 5px;
					padding-right:30px;
					vertical-align: 0;
				}
				button{
					@include size(30px);
					@include box-sizing;
					line-height: 28px;
					border:1px solid $base_color3;
					color:$base_color3;
					background:#e5e5e5;
					vertical-align: 0;
				}
			}
			div{
				button{
					&:hover{
						color:$point_color1;
					}
					&.on{
						span{
							color:#fff;
							background:$point_color1;
							em{
								color:$base_color1;
							}
						}
					}
				}
			}
			&.active{
				background: #f7f7fa;
			}
		}
		.optCate{
			strong{
				display:none;
				padding:10px 15px;
				border-bottom:1px solid #e5e5e5;
				.icon-arrow_back{
					margin-right:5px;
					font-weight: bolder;
				}
			}
			.cntCate{
				display:none;
				font-weight: 400;
     			letter-spacing: -1px;
				color:$base_color3;
			}
		}
		.optBrd{
			.brdItems{
				background: #fff;
				padding:10px 20px;
				.brdOptCls{
					button{
						padding:10px;
						color:$base_color3;
						border:1px solid #e5e5e5;
						margin-right: -3px;
						&.on{
							color:$point_color1;
							border-bottom-color: #fff;
						}
						&:hover{
							color:$point_color1;
						}
					}
				}
				.brdBtns{
					border-top:1px solid #e5e5e5;
					padding-top:10px;
					margin-top:-1px;
					button{
						@include box-sizing;
						text-align: left;
						display:inline-block;
						font-size:12px;
						width:167px;
						margin:3px 1px;
						span{
							padding:1px 5px;
						}
					}
				}
			}
		}
	}
}
